@{
    Layout = "_Layout";
}

@model PhotoFilterModel

<ul class="nav justify-content-end p-4">
    <li class="nav-item">
        <a class="nav-link active text-reset" href="@Url.Action("Index", "Photo")">Foto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-reset" href="@Url.Action("Index", "Category")">Categorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-reset" href="@Url.Action("Index", "Message")">Messaggi</a>
    </li>
</ul>

    @if (Model.Photos.Count() == 0)
    {
        <div class="container text-center p-3">
            <h3>Non ci sono foto da mostrare...</h3>
        </div>
    }

    <div>

    </div>

    <div class="container my-4">
        <div class="row justify-content-between align-items-center mb-3">
            <div class="col-10">

                <h1 class="mb-3">Le tue foto</h1>

            </div>
            <div class="col-2 d-flex justify-content-end">
                <a class="text-reset" href="@Url.Action("Create", "Photo")">
                    <i class="fs-4 fa-solid fa-plus"></i>
                </a>
            </div>
        </div>
        <form asp-controller="Photo" asp-action="Index" method="get">
            <div class="input-group">
                <button type="submit" class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" class="form-control" name="search" asp-for="Filter" placeholder="Cerca foto per titolo">
            </div>
        </form>
    </div>

    <div class="container my-5">
        <div class="row row-cols-lg-4 row-cols-md-2 gy-3">

            @foreach (Photo photo in Model.Photos)
            {
                <div class="col">
                    <div class="card h-100">
                        <img class="mx-auto border-bottom" width="304" height="203" src="@photo.ImageSrc" alt="@photo.Title">
                        <div class="card-body">
                            <h5 class="card-title">@photo.Title</h5>
                            <p class="card-text">@photo.Description</p>
                        </div>
                        <div class="d-flex justify-content-end p-2 align-items-center">
                            <a class="p-2 text-reset" href="@Url.Action("Details", "Photo", new { id = photo.Id })">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>

                            <a class="p-2 text-reset" href="@Url.Action("Edit", "Photo", new { id = photo.Id })">
                                <i class="fa-solid fa-pencil"></i>
                            </a>

                            <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-sm">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                           

                        </div>
                    </div>
                </div>
            }


        </div>
    </div>



